// Place all the styles related to the questions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
  background: #CCE2D9;
}

form {
  box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.75);
  width: 400px;
  text-align: center;
  padding: 30px;
  background: white;
}

.container {
  box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.75);
  width: 400px;
  text-align: center;
  padding: 30px;
  background: white;
}
